@mixin button {
  font-size: $px18;
  line-height: 22px;
  outline: none;
  border: 0;
  box-sizing: border-box;
  width: 213px;
  height: 61px;
  border-radius: 5px;
  background-color: rgb(171, 216, 115);
  &:disabled {
    background-color: rgb(161, 161, 161);
  }
}
@mixin input {
  resize: none;
  font-size: $px18;
  line-height: 22px;
  padding: 20px 20px 20px 30px;
  width: 100%;
  height: 61px;
  overflow: hidden;
  transition: height 0.3s ease;
  min-height: 61px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
$px18: 18px;
$px14: 14px;
$o40: 40%;

.content-title {
  font-size: $px18;
  color: rgb(18, 42, 192);
  font-weight: 500;
  line-height: 22px;
}

.content {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  font-family: "Inter";
}

.navigation {
  margin: 25px 0 32px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  .navigation__item--comments {
    padding-bottom: 3px;
    border-bottom: 3px solid rgb(0, 0, 0);
    font-size: $px18;
    font-weight: 500;
    line-height: 24px;

    :nth-child(2) {
      opacity: $o40;
    }
  }
  .navigation__item--filter {
    display: flex;
    .navigation__filter-custom-select {
      position: relative;
      width: 200px;
      cursor: pointer;
      display: flex;
      align-items: center;
      .navigation__filter-selected-option {
        white-space: nowrap;
        text-decoration: underline;
        display: block;
        font-family: "Inter";
        padding: 10px;
        font-size: $px18;
        opacity: $o40;
        line-height: 19px;
      }

      .navigation__filter-options-list {
        border-radius: 5px;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 3;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.102);
        display: none;

        li {
          font-family: "Inter";
          padding: 10px;
          font-size: $px18;
          opacity: $o40;
          line-height: 19px;

          &:hover {
            background-color: rgb(242, 242, 242);
          }
        }
      }
    }
    .navigation__filter-favorites {
      text-decoration: underline;
      font-size: $px18;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;

      display: flex;
      align-items: center;
      gap: 5px;
      span {
        opacity: $o40;
      }
      img {
        width: 27px;
        height: 27px;
      }
    }
  }
}
//-----------------//-----------------//-----------------//
.form {
  display: flex;
  gap: 30px;
  .form__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
    span {
      font-size: $px14;
      font-style: italic;
      line-height: 17px;
      opacity: $o40;
    }
    textarea {
      @include input;
    }
    :nth-child(1) {
      display: flex;
      justify-content: space-between;
    }
  }
  .form__action {
    margin-top: 36px;
    button {
      @include button;
      height: 61px;
    }
  }
}
//-----------------//-----------------//-----------------//
.commentForm {
  gap: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  .comment {
    display: flex;
    gap: 30px;
    .comment__body {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .comment__header {
        display: flex;
        gap: 15px;
        align-items: center;

        .comment__author {
        }
        .comment__timestamp {
          font-size: $px14;
          line-height: 17px;
          opacity: $o40;
        }

        .comment__reply {
          font-size: $px18;
          border: 1px solid black;
        }
      }

      .comment__content {
        font-size: $px18;
        line-height: 22px;
      }
      .comment__footer {
        display: flex;
        gap: 20px;
        .favorites {
          min-width: 148px;
        }
        .comment__reply-button,
        .comment__favorites,
        .comment__likes {
          display: flex;
          align-items: center;
          gap: 10px;
          span {
            cursor: pointer;
            opacity: $o40;
          }
          .comment__like-button {
            cursor: pointer;
          }
        }
      }
    }
  }
  .allAnswers {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .answer {
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    .answer__body {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .answer__header {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        div {
          display: flex;
          align-items: center;
          gap: 10px;
          .answer__comment {
            opacity: $o40;
          }
        }
        span {
          font-size: $px14;
          line-height: 17px;
          opacity: $o40;
        }
      }

      .answer__content {
        font-size: $px18;
        line-height: 22px;
      }
      .answer__footer {
        display: flex;
        gap: 20px;
        .favorites {
          min-width: 148px;
        }
        .answer__favorites,
        .answer__likes {
          display: flex;
          align-items: center;
          gap: 10px;

          span {
            cursor: pointer;
            opacity: $o40;
          }
          .answer__like-button {
            cursor: pointer;
          }
        }
      }
    }
  }
  .wrapperForm {
    display: flex;
    gap: 30px;
    max-width: 50vw;
    margin-left: 90px;
    textarea {
      @include input;
    }
    button {
      @include button;
    }
  }
}

.avatar {
  width: 60px;
  img {
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.likes {
  font-size: $px18;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
  }
  :nth-child(2) {
    color: rgb(171, 216, 115);
  }
  :nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(171, 216, 115);
  }
}
@media (max-width: 600px) {
  body {
    .avatar {
      position: absolute;
      img {
        min-width: 50px;
        height: 50px;
      }
    }
    .content {
      padding: 0 10px;
      .navigation {
        margin: 15px 0;
        flex-wrap: wrap;
        gap: 10px;
        .navigation__item--filter {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .navigation__filter-custom-select {
            span {
              font-size: $px14;
            }
            ul {
              li {
                font-size: $px14;
              }
            }
          }
          .navigation__filter-favorites {
            font-size: $px14;
            img {
              width: 21px;
              height: 21px;
            }
          }
        }
      }
      //-----------------//-----------------//-----------------//
      .form {
        gap: 10px;
        flex-direction: column;

        .form__content {
          :nth-child(1) {
            margin-top: 7px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 10px;
            h3 {
              padding-left: 70px;
              display: flex;
              width: 100%;
              align-items: flex-start;
            }
          }
          :nth-child(2) {
            textarea {
              padding: 10px;
            }
          }
        }
        .form__action {
          margin-top: 0px;
          button {
            width: 100%;
          }
        }
      }
      //-----------------//-----------------//-----------------//
      .comments {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .commentForm {
          margin-top: 0px;
          gap: 30px;
          .comment {
            flex-direction: column;
            gap: 30px;
            .comment__body {
              .comment__header {
                padding-left: 80px;
                margin: 15px 0;
                justify-content: space-between;
              }
              .comment__footer {
                display: flex;
                justify-content: space-between;
              }
            }
          }
          .allAnswers {
            gap: 30px;
            .answer {
              margin: 0;
              .answer__body {
                width: 100%;
                .answer__header {
                  margin: 15px 0;
                  padding-left: 80px;
                  :nth-child(1) {
                    display: flex;
                    flex-wrap: wrap;
                  }
                }
                .answer__footer {
                  align-items: center;
                  justify-content: space-between;
                  div {
                    img {
                      width: 24px;
                      height: 24px;
                    }
                  }
                }
              }
            }
          }
          .wrapperForm {
            max-width: 100%;
            width: 100%;
            margin: 0;
            gap: 5px;
            display: flex;
            flex-direction: column;
            button {
              width: 100%;
            }
            textarea {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
