body {
  width: 1050px;
  margin: 0 auto;
  font-family: "Inter";
}
.menu {
  margin: 25px 0 32px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  .menu_comments {
    padding-bottom: 3px;
    border-bottom: 3px solid black;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;

    :nth-child(2) {
      opacity: 40%;
    }
  }
  .menu_filter {
    display: flex;
    align-items: center;
    gap: 5px;
    :nth-child(1) {
      text-decoration: underline;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      opacity: 40%;
    }
    :nth-child(2) {
      font-size: 27px;
      opacity: 40%;
    }
  }
  .menu_favorites {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;

    display: flex;
    align-items: center;
    gap: 5px;
    span {
      opacity: 40%;
    }
    img {
      width: 27px;
      height: 27px;
    }
  }
}
//-----------------//-----------------//-----------------//
.inputForm {
  display: flex;
  gap: 30px;
  .inputForm_main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
    span {
      font-size: 14px;
      font-style: italic;
      line-height: 17px;
      opacity: 40%;
    }
    textarea {
      font-size: 1.125rem;
      line-height: 1.375rem;
      padding: 20px 20px 20px 30px;
      width: 100%;
      overflow: hidden;
      transition: height 0.3s ease;
      height: 61px;
      box-sizing: border-box;
      resize: none;
      border-radius: 2px;
      border: 0;
      outline: none;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
    :nth-child(1) {
      display: flex;
      justify-content: space-between;
    }
  }
  .inputForm_button {
    margin-top: 36px;
    button {
      font-size: 1.125rem;
      line-height: 1.375rem;
      outline: none;
      border: 0;
      box-sizing: border-box;
      width: 213px;
      height: 61px;
      border-radius: 5px;
      background-color: #abd873;
    }
  }
}
//-----------------//-----------------//-----------------//
.commentForm {
      gap: 25px;
    display: flex;
    flex-direction: column;
  margin-top: 40px;
  .comment {
    display: flex;
    gap: 30px;
    .comment_body {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .comment_body_header {
        display: flex;
        gap: 15px;
        align-items: center;

        span {
          font-size: 0.875rem;
          line-height: 1.0625rem;
          opacity: 40%;
        }
      }
      .comment_body_main {
        font-size: 1.125rem;
        line-height: 1.375rem;
      }
      .comment_body_footer {
        display: flex;
        gap: 20px;
        :nth-child(1) {
          display: flex;
          align-items: center;
          gap: 10px;
          span {
            opacity: 40%;
          }
        }
        :nth-child(2) {
          gap: 10px;
          display: flex;
          align-items: center;
          span {
            opacity: 40%;
          }
        }
      }
    }
  }
  .answer {
    margin: 28px 0 28px 90px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    .answer_body {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .answer_body_header {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        :nth-child(3) {
          opacity: 40%;
        }
        :nth-child(4) {
          font-size: 0.875rem;
          line-height: 1.0625rem;
          opacity: 40%;
        }
      }
      .answer_body_main {
        font-size: 1.125rem;
        line-height: 1.375rem;
      }
      .answer_body_footer {
        display: flex;
        gap: 30px;
        :nth-child(1) {
          display: flex;
          gap: 7px;
          span {
            opacity: 40%;
          }
        }
      }
    }
  }
}

.avatar {
  width: 60px;
 img {
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
h3 {
  font-size: 1.125rem;
  color: #122ac0;
  font-weight: 500;
  line-height: 1.3613rem;
}
.counter {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: red;
    background-color: rgba(0, 0, 0, 0.1);
  }
  :nth-child(2) {
    color: #abd873;
  }
  :nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    color: #abd873;
  }
}
